# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

# Exposes how long the last command took to run to prompts.
zmodule duration-info
# Exposes git repository status information to prompts.
zmodule git-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
zmodule asciiship

# Completion
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Highlighting
zdharma-continuum/fast-syntax-highlighting
# History search
zmodule zsh-users/zsh-history-substring-search
# Auto Suggestions
zmodule zsh-users/zsh-autosuggestions

